<script language="JavaScript">
  Stripe.setPublishableKey("<%= ENV['STRIPE_TEST_PUBLISHABLE_KEY'] %>");
</script>

<%= form_for @tenant, url: update_plan_path, html: { class: "#{class_name_for_tenant_form(@tenant)}" } do |f| %>

  <div class="row col-md-12">
    <div class="form-group col-md-7 no-left-padding">
      <%= f.label :name, 'Organization' %>
      <span class='description'>(Unique name for your group/organization for updated account)</span>
      <%= f.text_field :name, required: true, class: "form-control" %>
    </div>
    <div class="form-group col-md-5">
      <div class="col-md-12">
        <%= f.label :plan %>
      </div>
      <div class="col-md-5">
        <%= f.select :plan, options_for_select(Plan.options, @tenant.plan ), {}, required: true, class: "form-control" %>
      </div>
    </div>
  </div>

  <% if @tenant.payment.blank? %>
    <%= render 'layouts/ccpayment' %>
  <% end %>
  <br />

  <div class="row col-md-12">
    <%= f.submit 'Update Plan', class: "btn btn-primary", id: 'update_plan' %>
  </div>
<% end %>